body {
  background-color: bisque;
  font-family: "Montserrat", Arial;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-heading {
  margin-top: 50px;
  font-size: 40px;
}

.calculator {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 500px;
  height: 670px;
  border-radius: 20px;
  margin: auto;
  margin-top: 2%;
  background-color: rgb(136, 216, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-container {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 30px 0px;
  align-items: center;
  justify-content: center;
}

.input-display {
  width: 500px;
  height: 80px;
  border-style: solid;
  border-width: 2px;
  background-color: rgb(253, 248, 241);
  border-radius: 5px;
  width: 460px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expression-tracker {
  font-size: 25px;
  text-align: right;
  padding-right: 35px;
  display: flex;
  justify-content: right;
}

.input-text {
  font-size: 35px;
  text-align: right;
  display: flex;
  justify-content: right;
}

.delete-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  justify-content: space-around;
  width: 500px;
}

.expression-tracker {
  height: 30px;
}

.input-text {
  height: 43px;
}

.input-number {
  margin-right: 20px;
}

.input-operation {
  margin-right: 10px;
}

.error-message {
  font-size: 25px;
  margin-right: 20px;
}

.expression-tracker-number {
  margin-right: 25px;
}

.clear-btn {
  width: 175px;
  height: 60px;
  border-width: 2px;
  font-size: 25px;
}

.delete-btn {
  width: 175px;
  height: 60px;
  border-width: 2px;
  font-size: 25px;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 15px;
  justify-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.number-btn {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  font-size: 25px;
}

.number-btn:hover,
.clear-btn:hover,
.delete-btn:hover {
  background-color: rgb(225, 225, 225);
}

.number-btn:active,
.clear-btn:active,
.delete-btn:active {
  background-color: rgb(200, 200, 200);
}

.number-active {
  background-color: rgb(200, 200, 200);
}

.operation-btn {
  background-color: rgb(190, 189, 189);
  height: 100px;
  width: 100px;
  font-size: 25px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.operation-btn:hover {
  background-color: rgb(170, 170, 170);
}

.operation-btn:active {
  background-color: rgb(150, 150, 150);
}

.operation-active {
  background-color: rgb(150, 150, 150);
}

.equals-btn {
  height: 100px;
  width: 100px;
  font-size: 25px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgb(254, 208, 123);
}

.equals-btn:hover {
  background-color: rgb(231, 189, 112);
}

.equals-btn:active {
  background-color: rgb(208, 170, 99);
}

.equals-active {
  background-color: rgb(208, 170, 99);
}